.l-pageTitle{
  text-align: center;
  margin: 0px 0 16vh 0;
}
.c-pageTitle{
  width: 64%;
  margin: auto;
  @include breakPoint("sp") {
    width: 100%;
  }
  img{
    display: block;
    width: 100%;
  }
  canvas{
    margin: auto;
    // width: 100% !important;
    // height: auto !important;
  }
}
.c-pageTitle-scroll{
  width: 20%;
  margin: 20px auto 0;
  @include breakPoint("sp") {
    width: 40%;
  }
  img{
    display: block;
    width: 100%;
  }
}