.l-selectCursor{
  position: fixed;
  width: 70%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
.p-selectCursor{
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  pointer-events: none;
  &.isDebug{
    background-color: rgba(0,0,0,0.1);
  }
}
.c-selectCursor{
  width: 100%;
  height: 70%;
  &.isDebug{
    background-color: rgba(0,0,0,0.5);
  }  
}
.c-selectCursor-title{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.c-selectCursor-pos{
  position: absolute;
  width: 100%;
  height: 100%;
}
.c-selectCursor-pos-disp{
  position: absolute;
  &::after {
    content: ''; /* 擬似要素の内容は空に設定 */
    position: absolute; /* 絶対位置に設定 */
    width: 6px; /* 円の幅 */
    height: 6px; /* 円の高さ */
    background-color: #FFF; /* 円の色 */
    border-radius: 50%; /* 円形にするための半径 */
  }
  &.-topLeft{
    top: 0;
    left: 0;
    &::after {
      top: -3px;
      left: -3px;
    }
  }
  &.-topRight{
    top: 0;
    right: 0;
    &::after {
      top: -3px;
      right: -3px;
    }
  }
  &.-bottomLeft{
    bottom: 0;
    left: 0;
    &::after {
      bottom: -3px;
      left: -3px;
    }
  }
  &.-bottomRight{
    bottom: 0;
    right: 0;
    &::after {
      bottom: -3px;
      right: -3px;
    }
  }
}
.c-selectCursor-name{
  transform: rotate(90deg);
  transition: transform 0.5s;
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 0;
  transform-origin: top left;
  opacity: 0.75;
  font-size: 0.75rem;
  display: none;
  &.isActive{
    display: block;
  }
}
