.l-sizeSticker{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: absolute;
  bottom: 10px;
  left: 10px;
  // border-top: 8px solid #FFF;
  // border-left: 8px solid #FFF;
  // border-right: 8px solid #FFF;
  // border-bottom: 8px solid #FFF;
  z-index: 10;
  // display: flex;
  position: fixed;
  backdrop-filter: blur(10px);
  
}
.l-sizeSticker-innner{
  display: flex;
}
.l-jan-code{
  width: 25%;
  background-color: #FFF;
  padding: 10px;
  display: flex;
  align-items: center;
}
.c-jan-code{
  width: 100%;
}
.sizeListWrap{
  padding: 10px 0px 10px 20px; 
  width: 75%;
}
.sizeListName{
  font-size: 12px;
  margin: 0 0 10px 0;
  width: auto;
  display: inline-block;
}
.sizeList{
  display: flex;
  margin: 0 0 4px 0;
  align-items: flex-end;
  display: flex;
  &:last-child{
    margin-bottom: 0;
  }
  *{
    line-height: 0.75;
  }
}
.sizeListBox{
  position: relative;
  padding: 0 0 0 0;
  
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 60px;
    width: 1px;
    height: 100%; /* 線の太さ */
    background-color: #FFF; /* 線の色 */
  }
}
.sizeName{
  width: 50px;
  padding: 0px 4px 0 0;
  margin: 0 10px 0 0;
  text-align: right;
}

.sizeNumb{
  text-align: right;
  width: 80px;
}
.sizeUS_name{
  font-size: 32px;
}
.sizeUS_number{
  font-size: 50px;
}
.sizeJP_number{
  font-size: 26px;
}