@import './variables';
@import './header';
@import './sneaker';
@import './sizeSticker';
@import './mainWrap';
@import './selectCursor';
@import './pageTitle';
@import './debug';

a {
  text-decoration: none;
  transition: 0.3s;
  color: inherit;
}
html{
}
// @font-face {
//   font-family: 'PixelMplus10'; // <-好きな名前をつけれます。
//   src: url('../font/PixelMplus10-Regular_min.ttf') format("ttf");
// }
body{
  text-decoration: none;
  background-color: #000;
  color: #FFF;
  background: rgb(61,61,61);
  background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(31,31,31,1) 24%, rgba(0,0,0,1) 100%);
}


.font-bit{
  // font-family: "PixelMplus10";
  font-family: "DotGothic16", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.font-bit-bold{
  // font-family: "PixelMplus10";
  font-family: "Jersey 10", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 0.75;
}
*{
  box-sizing: border-box;
  position: relative;
}
